<div
  class="banner-innerpage"
  style="background-image: url(assets/images/mainpage/banner-bg.jpg)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Авторизация</h1>
      </div>
    </div>
  </div>
</div>

<div class="spacer feature22">
  <div class="container">
    <form>
      <div>
        <label>Логин</label>
        <input type="text" required name="login" />
      </div>
      <div>
        <label>Пароль</label>
        <input type="password" required name="password" />
      </div>
        <a class="btn btn-danger-gradiant font-14" routerLink="/auth">
          Войти
        </a>
    </form>
    <p class="m-t-30 m-b-30">
      Ещё не зарегистрированы?
      <a class="btn btn-danger-gradiant font-14" routerLink="/reg">
        Зарегистрироваться
      </a>
  </div>
</div>

