<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">

        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                Главная страница
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                О себе
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" href="https://github.com/wickedside">
                GitHub
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="btn btn-danger-gradiant font-14" routerLink="/auth">
                Войти/регистрация
            </a>
        </li>
    </ul>

</div>
