<div
  class="banner-innerpage"
  style="background-image: url(assets/images/mainpage/banner-bg.jpg)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">О себе</h1>
      </div>
    </div>
  </div>
</div>

<div class="spacer feature22">
  <div class="container">
    <app-top-content></app-top-content>
  </div>
</div>

<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          Зачем нужен этот блог?
        </h2>
        <h6 class="subtitle">
          Данный блог был создан как итоговый проект для <a href="https://itstep.by/">Компьютерной академии "ШАГ"</a>. Много чего было нереализовано в данном проекте, планировалась регистрация и вход для администратора, откуда он уже мог выкладывать/редактировать посты. Backend часть практически отсутствует, да и не фанат я Web-разработки:)
        </h6>
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          href="https://github.com/wickedside/KublitskiBlog"
          ><span>Проект на GitHub <i class="ti-arrow-right"></i></span
        ></a>
      </div>
    </div>
    <img src="assets/images/about/github.jpg" class="githubimg">
  </div>
</div>
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
