<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="DK" />
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium">Даниил Кублицкий</small>
      <h3 class="font-light">
        Кем я являюсь и чем сейчас занимаюсь:)
      </h3>
      <p>
        Меня зовут Даниил, мне на данный момент 18 лет. Поступил в  <a href="https://www.mitso.by/">Международный университет "МИТСО"</a> и обучаюсь на 1-ом курсе по специальности <a href="https://abiturient.mitso.by/speciality/information-systems-technologies/">Информационные системы и технологии</a>.
      </p>
      <p>
        Летом 2022 года буду официально проходить практику в <a href="https://www.kufar.by/">"Куфаре"</a>, а также заканчиваю своё обучение в <a href="https://itstep.by/">Компьютерной академии "ШАГ"</a>. Увы, но сейчас меня больше беспокоит сдача зачётов и экзаменов в универе, поэтому компьютерные курсы в <a href="https://itstep.by/">"ШАГе"</a> отходят на задний план. Больше всего мне нравится язык C++ и среда разработки <a href="https://visualstudio.microsoft.com/ru/">Visual Studio</a>, но <a href="https://www.jetbrains.com/ru-ru/idea/">IntelliJ IDEA</a> тоже неплохо)
      </p>
      <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="/"
      >
        <span
          >Перейти на главную страницу
          <i class="ti-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
  <!-- Column -->
</div>
